* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: $font-family-base;
}

p {
  margin: 0 !important;
}

.text-turn--left {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.text-serif {
  font-family: $font-family-serif;
}

.grid__cover {
  grid-template-columns: 40px 2% 40% 2% 42% 10%;
  grid-template-rows: 50px 10px 28% 28% 23% 1fr;
}

.grid__cover--item1 {
  grid-area: 1 / 1 / 1 / 1;
}

.grid__cover--item2 {
  grid-area: 3 / 1 / 7 / 1;
}

.grid__cover--item3 {
  grid-area: 1 / 3 / 7 / 3;
}

.grid__cover--item4 {
  grid-area: 5 / 3 / 7 / 3;
}

.grid__cover--item5 {
  grid-area: 4 / 5 / 4 / 7;
}

.grid__cover--item6 {
  grid-area: 6/ 6 / 6 /6;
}

.grid__main {
  grid-template-columns: 40px 10px 1fr;
  grid-template-rows: 50px 10px 1fr;
}

.grid__main--item1 {
  grid-area: 1 / 1 / 1 / 1;
}

.grid__main--item2 {
  grid-area: 3 / 1 / 4 / 1;
}

.grid__main--item3 {
  grid-area: 3 / 3 / 4 / 4;
}

.grid__historia {
  grid-template-columns: 45% 55%;
}

.grid__historia--item1 {
  grid-area: 1 / 1 / 1 / 3;
}

.grid__historia--item2 {
  grid-area: 2 / 1 / 2 / 3;
}

.grid__historia--item3 {
  grid-area: 3 / 1 / 3 / 1;
}
.grid__historia--item4 {
  grid-area: 3 / 2 / 3 / 3;
}

.grid__historia--item5 {
  grid-area: 4 / 1 / 4 / 3;
}

.grid__historia--item6 {
  grid-area: 5 / 1 / 5 / 1;
}

.grid__historia--item7 {
  grid-area: 5 / 2 / 5 / 3;
}

.grid__historia--item8 {
  grid-area: 6 / 1 / 6 / 3;
}

.grid__historia--item9 {
  grid-area: 7 / 1 / 8 / 3;
}

.text-one-line {
  line-height: 50px;
  word-spacing: 100vw;
}

.quote__6 {
  q:before {
    content: open-quote;
    font-weight: bold;
    font-size: 6rem;
  }

  q:after {
    content: close-quote;
    font-weight: bold;
    font-size: 6rem;
  }
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.grid__footer {
  grid-template-columns: 40px 1fr;
}

.footer__menu {
  ul {
    a:hover {
      border-bottom: 3px solid $secondary-color;
      color: $secondary-color;
    }
  }
}

@media (max-width: $MaxWidthLG) {
  .grid__cover {
    grid-template-columns: 40px 2% 50% 2% 32% 10%;
    grid-template-rows: 40px 50px 10px 31% 20% 20% 10%;
  }

  .grid__cover--item1 {
    grid-area: 2 / 1 / 2 / 1;
  }

  .grid__cover--item2 {
    grid-area: 4 / 1 / 8 / 1;
  }

  .grid__cover--item3 {
    grid-area: 2 / 3 / 8 / 3;
  }

  .grid__cover--item4 {
    grid-area: 5 / 3 / 8 / 3;
  }

  .grid__cover--item5 {
    grid-area: 5 / 5 / 5 / 7;
  }

  .grid__cover--item6 {
    grid-area: 7/ 6 / 7 /6;
  }

  /*------------------------------------*\
  #REPARTO #HISTORIA #VIDEOS & FOTOS
\*------------------------------------*/

  .grid__main--item1 {
    grid-area: 2 / 1 / 2 / 1;
  }

  .grid__main--item2 {
    grid-area: 4 / 1 / 5 / 1;
  }

  .grid__main--item3 {
    grid-area: 4 / 3 / 5 / 4;
  }

  /*------------------------------------*\
  #HISTORIA
\*------------------------------------*/

  .grid__historia {
    grid-template-columns: 100%;
  }

  .historia__tecnica {
    padding-left: 0%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .grid__historia--item1 {
    grid-area: 1 / 1 / 1 / 2;
  }

  .grid__historia--item2 {
    grid-area: 2 / 1 / 2 / 2;
  }

  .grid__historia--item3 {
    grid-area: 3 / 1 / 3 / 2;
  }
  .grid__historia--item4 {
    grid-area: 4 / 1 / 4 / 2;
  }

  .grid__historia--item5 {
    grid-area: 5 / 1 / 5 / 2;
  }

  .grid__historia--item6 {
    grid-area: 6 / 1 / 6 / 2;
  }

  .grid__historia--item7 {
    grid-area: 7 / 1 / 7 / 2;
  }

  .grid__historia--item8 {
    grid-area: 8 / 1 / 8 / 2;
  }

  .grid__historia--item9 {
    grid-area: 9/ 1 / 10 / 2;
  }

  .historia__quote {
    q {
      font-size: 2rem;
      text-align: center;
    }

    q:before {
      content: open-quote;
      font-weight: bold;
      font-size: 3rem;
    }

    q:after {
      content: close-quote;
      font-weight: bold;
      font-size: 3rem;
    }
  }

  /*------------------------------------*\
  #FOOTER
\*------------------------------------*/

  .footer__info {
    width: 60%;
  }
}

@media (max-width: $MaxWidthMD) {
  .footer__menu {
    ul {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: $MaxWidthSM) {
  * {
    box-sizing: border-box;
    font-size: 12px;
  }

  /*------------------------------------*\
  #PORTADA
\*------------------------------------*/

  .header {
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 3;
  }

  @supports (display: grid) {
    .grid__cover {
      grid-template-columns: 40px 2% 1fr;
      grid-template-rows: 8% 8% 2% 35% 8% 18% 1% 20%;
    }

    .grid__cover--item1 {
      grid-area: 2 / 1 /2 / 1;
    }

    .grid__cover--item2 {
      grid-area: 4 / 4 / 9 / 1;
    }
    .grid__cover--item3 {
      grid-area: 2 / 4 /9 /4;
    }
    .grid__cover--item4 {
      grid-area: 8 / 4 / 9 / 4;
    }
    .grid__cover--item5 {
      grid-area: 6 / 4 / 6 / 4;
    }
    .grid__cover--item6 {
      grid-area: 5/ 4 / 5/ 4;
    }
  }
}
