@use "sass:color";

$font-family-sans-serif: "Secular One", sans-serif;
$font-family-serif: "Merienda One", cursive;
$font-family-base: "Segoe UI";

$primary-color: #e73433;
$secondary-color: #f4f4f4;

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
);

$MaxWidthLG: 991px;
$MaxWidthMD: 768px;
$MaxWidthSM: 576px;

$navbar-light-hover-color: $primary-color;
$navbar-light-active-color: $primary-color;
$navbar-light-toggler-border-color: none;
$navbar-padding-y: 4.5px;
$navbar-padding-x: 4px;

$card-bg: none;
$card-border-width: 0px;

@mixin Hcenter() {
  display: flex;
  justify-content: center;
}
